<div class="messages">
  <ReceivedMessage/>

  <SentMessage />

  <NewMessageInput />
</div>

<BlogPost @post={{@blogPost}} as |postTitle postAuthor postBody|>
  {{postTitle}}

  {{postBody}}

  {{postAuthor}}

</BlogPost>